{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block content %}
<h1>This is Login page</h1>
    {% with messages = get_flashed_messages() %}
        {% if massages %}
            {% for m in messages %}
                <p> {{m}} </p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div style="margin-left: 50px"> <!--- margin-left: 40px cách lề trái 40px -->
        <form action="#" method="post">
            <label for="name">Name</label>
            <input type="text" name="name"></input>
            <button ,style="color:rgb(255, 47, 109)", type="submit">Login</button>   
        </form>
    </div>
{% endblock %}
