{% extends "base.html" %}
<!DOCTYPE html>
{% block title %}Home{% endblock %}
{% block content %}


<img src="https://taocover.com/uploads/worigin/2021/12/09/tao-cover-anh-bia-tet-2022-online-61b1d29528401_4e4e251e45426ceafb98245ab21371a8.jpg" alt="Flying Kites" width="1260">
        


<body style="background-color: rgb(48, 40, 31);">
    <h1>Hello everyone</h1>
    <font face="Sue" size="6px" color="#ffffff">My name is Vu Long Thanh, i'm 18 years old,i'm a student of a university in Vietnam, This is my first website, i'm very happy to see you here!
        i was born on August 8th 2003 in Vietnam, i'm live in a village in Hanoi
        <br>
        From Vietnam <img src="https://cdn-icons-png.flaticon.com/512/330/330202.png" style="float: bot" width=120 height=120;>
    </font>
</body>

{% endblock %}